---
import { contentfulClient } from "../lib/contentful.js";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { Document } from "@contentful/rich-text-types";
import type { JobListing } from "../lib/contentful";
import Layout from "../layouts/Layout.astro";
import CardJob from "../components/Card-Job.astro";
import Card from "../components/Card.astro";

const  jobsJSON = await contentfulClient.getEntries<JobListing>({
    content_type: "jobListing",
    limit:8
});

const jobs = jobsJSON.items.map((item) => {
    const { title, description, slug, image, salary, duties, qualifications, benefits } = item.fields;
    return {
        title,
        slug,
        description,
        imageDesc: image.fields.description,
        imageURL: image.fields.file.url,
        salary: salary,
        duties: documentToHtmlString(duties),
        qualifications: documentToHtmlString(qualifications),
        benefits: documentToHtmlString(benefits),
    };
});



---
<Layout description="See all the current job postsings at Heritage Consultants." pageForHeader="employment" title="Work at Heritage Consultants">
    <section id="jobs"> 
        <h1>Work At Heritage</h1>
        <p>Heritage Consultants, LLC is a leading firm in the Northeast, and we provide our customers with the full range of archaeological, geophysical, historical, and architectural history services. Our work is completed to the highest standards of excellence and is routinely praised by our customers and regulatory agencies. Heritage is committed to fostering passion and interest in the various aspects of historic preservation. We encourage all of our employees to engage in archaeology wherever the opportunity arises. Many of our staff routinely attend regional and national meetings and conferences, where they give papers, presentations, and poster sessions related to the work completed by Heritage. We also actively promote research in historic preservation outside the work force and offer scholarships for our employees seeking to gain M.A. or Ph.D. degrees.</p>
        <h2>Our Current Opennings</h2>
        <div id="jobs--postings">
        {    
            jobs.map((post , i) => (
                 <CardJob
                    title={post.title} 
                    desc={post.description}
                    image={'https://' + post.imageURL}
                    imageDesc={post.imageDesc}
                    salary={post.salary}
                    duties={post.duties}
                    qualifications={post.qualifications}
                    benefits={post.benefits}
                ></CardJob>     
            ))}
            </div>
    </section>
</Layout>
<style>
    #jobs {
        width: 100%;
        max-width: 1920px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1 , h2{
        font-size: 3rem;
        color: #fff;
        background-color: #0063A7;
        font-weight: 400;
        padding: 16px 32px;
        align-self: flex-start;
        margin-bottom: 64px;
        padding-left: 10%;
    }
    #jobs > p {
        color:#212121;
        max-width:900px;
        margin: 0px;
        margin-bottom: 2rem;
        font-size: 1.6rem;
        font-weight: 400;
        max-width: 900px;
        line-height: 2.4rem;
        padding:0px 8px;
    }

    #jobs--postings {
        display: grid;
        padding:0px 48px;
        grid-template-columns: minmax(auto, 50%) minmax(auto, 50%);
        width:100%;
        column-gap: 48px;
    }

    @media only screen and (max-width: 1000px){
        #jobs--postings{
            grid-template-columns: 100%;
        }
    }
    @media only screen and (max-width: 600px){
        h1 , h2{
            font-size:1.8rem;
            margin-bottom:40px;
        }
        #jobs--postings{
            padding: 0 16px;
        }
    }


</style>