---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
export interface Props {
	title: string;
	desc: string;
	image: string;
	odd?:boolean;
	imageDesc: string;
	salary:string;
	duties:string;
	qualifications: string;
	benefits: string;

}

const { title, desc, image, imageDesc, odd=false, salary, duties, qualifications, benefits } = Astro.props;
let strippedTitle = "Application to " + title
strippedTitle = strippedTitle.trim().replace(/\s/g, '%20');

let flipped = ""

if(odd){
	flipped="flipped"
}
---
<div class="card--contain">
	<div class={`card ${flipped}`}>
		<div class="card--title--contain">
			<img src={`${image}?w=688&h=384`} alt={imageDesc} width="688" height="384" loading="lazy">
			<h2>{title}</h2>
		</div>
		<div class="card--text--contain">	
			<h3>{title} - Salary: {salary}</h3>
			<h3>Description:</h3>
			<p set:html={desc}></p>
			<h3>Duties</h3>
			<p set:html={duties}></p>
			<h3>Qualifications</h3>
			<p set:html={qualifications}></p>
			<h3>Benefits</h3>
			<p set:html={benefits}></p>
			<a href={`mailto:DGEORGE@HERITAGE-CONSULTANTS.COM?Subject=${strippedTitle}`}>Apply Now</a>
		</div>
	</div>
</div>

<style>
	.card--contain {
		border:4px solid #0063A7;
		padding:48px;
		max-width: 100%;
		width: 100%;
	}
	.card {
		width: 100%;
		position: relative;
	}
	.card--title--contain{
		width: 100%;
		position: relative;
		
	}
	.card--title--contain > img {
		display: block;
		width: 100%;
		height: auto;
		aspect-ratio: 16 / 9;
		object-fit: cover;
	}
	.card--title--contain > h2{
		position: absolute;
		top:12px;
		left:-12px;
        background-color: #0063A7;
        padding: 8px 16px;
        font-size: 2rem;
        color: #fff;
        margin:0;
	}
	.card--text--contain > a{
		display: flex;
        align-items: center;
        justify-content: center;
        color:#FFF;
        border: 0px solid #fff;
        background-color: none;
        text-decoration: none;
        cursor: pointer;
        padding:12px 36px;
        font-size: 1.4rem;
        background-color: #0063A7;
        transition: background-color 200ms ease;
		width: fit-content;
		margin-top:32px;
	}
	.card--text--contain > a:hover{
		cursor: pointer;
		background-color: #004575;
	}
	@media only screen and (max-width: 600px){
		.card--contain {
			padding:16px;
		}
	}
</style>